/* #### Header CSS #### */
header {
	position: fixed;
	top: -70px;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 70px;
	background-color: #fff;
	box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.15);
	transition: 0.35s;
}

.header-wrapper {
	width: 1400px;
	height: 70px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.header-wrapper .logo {
	margin: auto 0;
}

.header-wrapper .logo img {
	width: 60px;
}

.header-menu {
	display: flex;
	align-items: center;
}

.pc_menu {
	display: flex;
	gap: 30px;
}

.gnb a {
	transition: 0.3s;
	font-weight: 500;
	font-size: 16px;
}

.gnb a.active {
	color: var(--dark-blue);
}

.gnb a:hover {
	color: var(--dark-blue);
}

/* #### Mobile Hamburger Button CSS #### */
.header-mobile-menu {
	display: none;
}

.header-mobile-menu i {
	font-size: 30px;
}

/* #### Mobile Menu Content #### */
.mobile-menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
	background-color: var(--primary-color)
}

ul.mobile-menu-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

ul.mobile-menu-content li {
	font-size: 45px;
	color: #fff;
	line-height: 2.0em;
}

ul.mobile-menu-content li a {
	font-weight: bold;
}

.mobile-close-menu {
	float: right;
	position: absolute;
	top: 60px;
	right: 60px;
}

.mobile-close-menu i {
	font-size: 45px;
	color: #fff;
}

/* #### Common Responsive CSS #### */
@media (max-width : 1024px) {
	.header-wrapper {
		width: 90%;
	}

	.pc_menu {
		display: none;
	}

	.header-mobile-menu {
		display: block;
	}
}

@media (max-width : 480px) {
	ul.mobile-menu-content li {
		font-size: 35px;
	}

	.mobile-close-menu {
		top: 40px;
		right: 40px;
	}

	.mobile-close-menu i {
		font-size: 35px;
	}
}