@import url('/css/variables.css');
@import url('/css/reset.css');
@import url('/css/common.css');
@import url('/css/featherlight.css');

* {
	font-family: var(--process-kr);
	font-weight: 400;
}

body {
	color: #222;
	background-color: #fff;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #222;
}

.container {
	width: 100%;
}

section {
	width: 100%;
}

.responsive-btn {
	position: fixed;
	top: 30px;
	right: 30px;
}

.responsive-btn a {
	display: block;
	padding: 5px 25px;
	border: 1px solid var(--primary-color);
	border-radius: 30px;
	margin-bottom: 10px;
	text-align: center;
	transition: 0.35s;
	background-color: #fff;
}

.responsive-btn a:hover {
	background-color: var(--primary-color);
	color: #fff;
}


/* #### Clone Coding #### */
.top-info {
	background-color: var(--light-pink);
	height: 600px;
}

.introduce-work-process {
	width: 1200px;
	margin: 0 auto;
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
}

.thumbnail-list {
	flex: 1;
}

.thumbnail-list .thum {
	width: 100%;
}

.thumbnail-list .thum img {
	width: inherit;
	border-radius: 25px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.work-process-desc {
	flex: 2;
}

.work-process-desc .title h1 {
	font-size: 30px;
	font-weight: bold;
}

.clone-coding-desc h2 {
	font-weight: 500;
}

.clone-coding-desc h2 b {
	color: crimson;
	font-weight: bold;
}

.clone-coding-project-desc {
	margin-top: 35px;
	padding: 20px;
	border-top: 1px solid var(--dark-gray);
	border-bottom: 1px solid var(--dark-gray);
}

.clone-coding-project-desc li {
	font-size: 15px;
	margin-bottom: 5px;
}

.clone-coding-project-desc li span {
	font-weight: 500;
	margin-right: 5px;
	color: var(--dark-gray);
	display: inline-block;
	width: 80px;
}

.ui-and-coding-desc {
	width: 100%;
	padding: 80px 0;
}

.ui-and-coding-desc h2 {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

.ui-and-coding {
	width: 1200px;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 55px;
}

.ui-and-coding .ui {
	width: 100%;
	flex: 1;
}

.ui-and-coding .ui img {

	width: inherit;
	border-radius: 25px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.coding-desc {
	flex: 2;
}

.coding-desc .coding {
	margin-bottom: 50px;
}

.coding-desc .coding p {
	font-size: 18px;
	position: relative;
	padding-left: 30px;
}

.coding-desc .coding p:before {
	content: '\F26E';
	font-family: bootstrap-icons;
	display: inline-block;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	color: var(--dark-pink);
	font-size: 22px;
}

.coding-desc img {
	width: 100%;
}

/* .clone-coding-title {
	text-align: center;
}

.clone-coding-title h1 {
	font-weight: bold;
}

.main-img {
	width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.main-img img {
	width: inherit;
	vertical-align: top;
}

.clone-coding-desc {
	padding: 25px 0;
	margin-top: 25px;
	border-top: 2px solid var(--gloudy);
	border-bottom: 2px solid var(--gloudy);
}

.clone-coding-desc h2 {
	font-weight: 500;
}

.clone-coding-desc h2 b {
	color: var(--primary-color);
	font-weight: bold;
}

.clone-coding-project-desc {
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid var(--gloudy);
}

.clone-coding-project-desc li {
	font-size: 17px;
	margin-bottom: 5px;
}

.clone-coding-project-desc li span {
	font-weight: 500;
	margin-right: 5px;
	color: var(--dark-gray);
	display: inline-block;
	width: 80px;
}

.work-process {
	width: 100%;
	margin-top: 80px;
}

.work-process .process {
	margin: 30px 0;
}

.work-process h1 {
	font-weight: bold;
}

.work-process h1 i {
	margin-right: 10px;
}

.work-process img {
	width: 100%;
} */

/* #### Responsive CSS #### */
/* @media (max-width : 480px) {
	.container {
		width: 90%;
	}

	.clone-coding-title h1 {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.clone-coding-desc h2 {
		font-size: 18px;
	}

	.clone-coding-desc p {
		font-size: 14px;
		line-height: 1.4em;
	}

	.clone-coding-project-desc {
		margin-bottom: 10px;
		padding: 10px;
	}

	.clone-coding-project-desc li {
		font-size: 14px;
		margin-bottom: 3px;
	}

	.work-process {
		margin-top: 20px;
	}

	.work-process h1 {
		font-size: 20px;
	}

} */