/* Header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #4c4c4c, transparent);
    z-index: 20;
    color: #fff;
    transition: 0.3s;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 80%;
    margin: auto;
}

.header-wrapper img {
    width: 100px;
    height: 20px;
    cursor: pointer;
}

header .header-wrapper ul {
    list-style: none;
    display: flex;
    padding: 0;
}

header .header-wrapper ul li {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 20px;
    cursor: pointer;
    position: relative;
}

.icons a {
    text-decoration: none;
    color: #fff;
}

.icons i {
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.icons i:nth-child(4) {
    display: none;
}

@media (min-width: 1144px) {
    .header-right {
        display: none;
    }
}

@media (max-width: 1144px) {
    header .header-wrapper ul {
        display: none;
    }

    .header-wrapper {
        width: 95%;
    }

    .icons a:nth-child(1) i,
    .icons a:nth-child(2) i {
        display: none;
    }

    .icons i:nth-child(4) {
        display: inline-block;
    }

}

.header-right {
    position: absolute;
    padding: 30px 20px;
    right: -400px;
    top: 0;
    background-color: #fff;
    color: #222;
    width: 400px;
    height: 100vh;
    transition: 0.5s;
}

.header-right .logo-area {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: 1px solid #ddd;
}

.header-right .logo-area i {
    font-size: 25px;
    cursor: pointer;
}

.header-right ul {
    list-style: none;
    color: #222;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.header-right ul li {
    font-size: 18px;
    padding: 15px;
    position: relative;
    transition: 0.35s;
    cursor: pointer;
}

.header-right ul li:hover {
    background-color: #eee;
}

.header-right ul li:after {
    content: '\e93e';
    font-family: xeicon;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-right .icon-list {
    display: flex;
    flex: 1;
    font-size: 30px;
    justify-content: flex-end;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.header-right .icon-list i {
    margin: 0 8px;
}