/* Import Local CSS */
@import url(../../css/variables.css);
@import url(/css/featherlight.css);

body {
	margin: 0;
	padding: 0;
	font-family: var(--primary-kr);
	color: var(--dark-black);
	font-size: 15px;
}

a {
	text-decoration: none;
	color: #222;
}

.portfolio-container {
	width: 100%;
}

section {
	width: 100%;
}

/* #### 뒤로가기 버튼 #### */
.go-back-history {
	border: none;
	background-color: transparent;
	position: fixed;
	top: 30px;
	left: 30px;
	padding: 8px;
	border-radius: 8px;
	background-color: #fff;
	font-weight: bold;
	font-size: 22px;
	border: 1px solid var(--light-brown);
	transition: 0.35s;
}

.go-back-history:hover {
	background-color: var(--light-brown);
	color: #fff;
}

/* #### Sub Menu #### */
.sub-menu {
	position: fixed;
	top: 30px;
	right: 30px;
}

.sub-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sub-menu ul li {
	margin-bottom: 15px;
	padding: 7px 25px;
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
	border: 1px solid var(--light-brown);
	font-weight: 500;
}

/* #### Section 1 #### */
.first {
	background-color: var(--light-beige);
	min-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.introduce-mobile {
	width: 1200px;
	margin: 0 auto;
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.thumbnail-list {
	height: inherit;
	display: flex;
	align-items: center;
	gap: 20px;
	flex: 2;
}

.thumbnail-list .thum {
	width: 200px;
	height: 400px;
	border-radius: 25px;
	overflow: hidden;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
}

.thumbnail-list .thum img {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.title {
	flex: 1;
	color: #222;
}

.title h1 {
	font-family: var(--primary-en);
	font-size: 45px;
}

/* #### Section 2 #### */
.second {
	margin-top: 50px;
	background-color: #fff;
}

.style-guide {
	width: 1200px;
	margin: 0 auto;
	font-family: var(--secondary-en);
	font-weight: normal;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.logo img {
	width: 200px;
}

.style-guide h1 {
	font-size: 40px;
	text-align: center;
	font-weight: 500;
}

.style-guide-items {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.content {
	width: 50%;
}

.content h3 {
	font-size: 22px;
	position: relative;
	font-weight: normal;
	padding-left: 35px;
}

.content h3:before {
	content: '\F26E';
	font-family: bootstrap-icons;
	display: inline-block;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-size: 25px;
	color: var(--light-brown);
}

.font-style p {
	font-size: 17px;
}

.font-style p:nth-child(1) {
	font-family: var(--primary-kr);
}

.font-style p:nth-child(2) {
	font-family: var(--secondary-kr);
}

.font-style p:nth-child(3) {
	font-family: var(--primary-en);
}

.font-style p:nth-child(4) {
	font-family: var(--secondary-en);
}

.color-style {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 15px;
	margin: 60px 0
}

.color-style .color span {
	display: block;
}

.color-style .color span:nth-child(1) {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.color-style .color span:nth-child(2) {
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	margin-top: 7px;
}

/* #### Section 3 #### */
.third {
	margin-top: 50px;
	background-color: rgb(248, 248, 248);
}

.ui-design {
	width: 1200px;
	margin: 0 auto;
	font-family: var(--secondary-en);
	font-weight: normal;
	padding: 30px 0;
}

.ui-design-items {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-around;
	flex-wrap: wrap;
	gap: 10px;
}

.ui-thum {
	width: 100%;
	height: fit-content;
	margin: 0 auto;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.ui-thum img {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.ui-design-item {
	width: 30%;
	text-align: center;
}

.ui-design-item h3 {
	position: relative;
	padding-left: 25px;
	display: inline-block;
	font-weight: 500;
	font-family: var(--primary-kr);
}

.ui-design-item h3:before {
	content: '\F309';
	font-family: bootstrap-icons;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	color: var(--light-brown);
	font-size: 25px;
}

@media (min-width : 480px) and (max-width : 1024px) {
	.first {
		padding: 100px 0;
	}

	.introduce-mobile {
		width: 90%;
		display: block;
	}

	.title {
		margin-top: 50px;
	}

	.style-guide {
		width: 90%;
	}

	.ui-design {
		width: 90%;
	}

	.logo img {
		width: 150px;
	}
}

@media (max-width : 480px) {
	.sub-menu {
		top: 20px;
		right: 20px;
	}

	.sub-menu ul li {
		padding: 3px 14px;
		font-size: 14px;
		margin-bottom: 6px;
	}

	.first {
		min-height: 200px;
		padding: 60px 0;
	}

	.introduce-mobile {
		width: 90%;
		display: block;
	}

	.title {
		margin-top: 50px;
	}

	.thumbnail-list {
		display: none;
	}

	.style-guide {
		width: 90%;
	}

	.style-guide h1 {
		font-size: 28px;
	}

	.style-guide-items {
		display: block;
	}

	.content {
		width: 100%;
		margin-bottom: 25px;
	}

	.ui-design {
		width: 90%;
	}

	.logo img {
		width: 90px;
	}

	.ui-design-item h3 {
		font-size: 14px;
	}
}