$primary_color : #049DD9;
$secondary_color : #023373;
$third_color : #0088CC;
$fourth_color : #666BD4;
$fifth_color : #2CA48F;
$sixth_color : #2CA46A;
$eng-font: 'Roboto';
$kor-font: 'Noto Sans KR';

