body {
    line-height: 1.5em;
    margin: 10px;
    font-weight: 300;
    color: #222;

}

a {
    text-decoration: none;
    color: #222;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icon {
/*    border: 1px solid red;*/
    width: 125px;
    height: 125px;
    margin: 10px;
    position: relative;
}

.icon:hover span {
    opacity: 1;
    visibility: visible;
}

.icon span {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #000;
    color: #fff;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.icon span:after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 10px;
    height: 10px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}
