/* Font Icon CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/* Font Family CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root {
	/* Font Family */
	--primary-kr: 'Noto Sans KR', sans-serif;
	--primary-en: 'Merriweather', serif;

	/* Text Color */
	--dark-black: #333333;
	--light-black: #555555;
	--dark-gray: #777777;
	--light-gray: #999999;
	--silver-gray: #C0C0C0;
	--gloudy: #EEEEEE;
	--snow : #f1f1f1;

	/* Object Color */
	--blue: #5891FF;
	--dark-blue: #3A77ED;
}